name: GitHub-Profile-3D-Contrib

on:
  schedule: # Roda a cada 24 horas
    - cron: "0 0 * * *"
  workflow_dispatch: # Permite rodar manualmente

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v4

      # ---- NOVO PASSO ADICIONADO AQUI ----
      - name: Delete old SVG
        run: rm -f profile-3d-contrib.svg
      # ------------------------------------

      - uses: yoshi389111/github-profile-3d-contrib@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ArthurHarysson
